name: Build and Deploy
on: [push]
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@master

    - name: zmf963
      uses: jenkey2011/vuepress-deploy@master
      env:
        ACCESS_TOKEN: ${{ secrets.GH_TOKEN }}
        TARGET_REPO: HotSec/sec-dev-ops-study
        TARGET_BRANCH: main
        BUILD_SCRIPT: yarn && yarn run docs:build
        BUILD_DIR: dist
        CNAME: https://hostsec.github.io