name: Build and Deploy
on: [push]
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@master

    - name: Build and Deploy
      uses: jenkey2011/vuepress-deploy@master
      env:
        ACCESS_TOKEN: ${{ secrets.GH_TOKEN }}
        TARGET_REPO: HotSec/hotsec.github.com
        TARGET_BRANCH: gh-pages
        BUILD_SCRIPT: yarn && yarn run docs:build
        BUILD_DIR: dist
        COMMIT_MESSAGE: Auto deploy by the Vuepress-deploy
